<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean name="cpCacheClient" class="com.huifu.saturn.cache.client.impl.CPCacheClientImpl">
        <property name="cpAddress" value="192.168.21.243:11211"/>
        <property name="defaultExpiredTime" value="86400"/>
    </bean>

    <bean name="cacheTemplate" class="com.huifu.saturn.cache.client.CacheTemplate">
        <property name="cacheClient" ref="cpCacheClient"/>
        <property name="DEFAULT_EXP_SECONDS" value="86400"/>
    </bean>
</beans>

