<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huifu.virgo.common.mapper.VirgoconfMapper">

    <resultMap id="Virgo_Conf" type="com.huifu.virgo.remote.model.VirgoConfiguration">
        <result property="id" column="ID"/>
        <result property="blackList" column="BLACK_LIST"/>
    </resultMap>

    <select id="selectOneVirgoConf" parameterType="int"
            resultMap="Virgo_Conf">
		SELECT * FROM VIRGO_CONF WHERE ID = #{id}
	</select>

    <update id="updateVirgoConf" parameterType="com.huifu.virgo.remote.model.VirgoConfiguration">
        UPDATE VIRGO_CONF
        <set>
            BLACK_LIST = #{form.blackList}
        </set>
        WHERE ID = #{form.id}
    </update>

</mapper>